@model Article
@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}
<div class="row column py-3">
    <div class="card col-12">
        <h1 lang="en">@Model.Title</h1>
 
        <div class="blog-author">
            <div class="name with-position">
                <p title="Post by @Model.Author">Post by @Model.Author</p>
            </div>
            <hr />
            <div class="image"><img class="img-fluid" ;" src=~/img/@Model.ImageName alt="" role="presentation"></div>
        </div>

        <hr />

        <div class="blog-postContent justify-content-center" lang="en">
            @foreach (var paragraph in Model.Text)
            {
                <p>@paragraph</p>
            }
        </div>

        <hr />

        <div class="text-left text-muted">
            <p>Source: @Model.Source</p>
        </div>

        <button id="iframe-backBtn" title="Go to top">Back</button>
    </div>
</div>