@model PersonalizerBusinessDemo.Models.PageConfigModel

@{
    ViewData["Title"] = "Personalizer Interactive Demo";

    PageConfigModel siteConfig = ViewData["siteConfig"] as PageConfigModel;
    NavBarOptionsModel navigationBarOptions = siteConfig.NavigationBar as NavBarOptionsModel;

    Func<List<NavBarItemModel>, Microsoft.AspNetCore.Html.IHtmlContent> displayMenuItems = null;

    displayMenuItems =

    @<ul class="navbar-nav mr-auto dropdownHover">
        @foreach (NavBarItemModel menuItem in @item)
        {
            if (menuItem.Items != null)
            {
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle dropdownHover" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b class="homeNavBarFont">@menuItem.Label </b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var subItem in menuItem.Items)
                        {
                            <span class="dropdown-item homeNavBarFont">@subItem.Label</span>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item dropdownHover">
                    <span class="nav-link homeNavBarFont"><b>@menuItem.Label</b></span>
                </li>
            }

        }
        <li class="nav-item dropdownHover">
            <span class="nav-link homeNavBarFont mx-2"><b><i class="fas fa-search dropdownHover"></i></b></span>
        </li>

    </ul>;
}

<div class="row dropdownHover">
    <div class="col p-0">

        <nav class="navbar navbar-expand-md navbar-dark px-5 articleNavBar" style="background-color:@navigationBarOptions.BackgroundColor;">
            <a class="navbar-brand " id="brand-logo" href="#"><img src="~/@navigationBarOptions.LogoImageURL" style="width:40px;height:35px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @displayMenuItems(navigationBarOptions.OptionsList as List<NavBarItemModel>)

                <button class="btn btn-light" id="backstage-btn" type="button" data-toggle="collapse" data-target="#collapseBackstage" aria-expanded="false" aria-controls="collapseBackstage">
                    @navigationBarOptions.BackstageLabelBtn
                </button>
            </div>
        </nav>

        <div class="embed-responsive embed-responsive-1by1 article-container">
            <iframe id="article-viewer" class="embed-responsive-item" src="/Home/HomeSite" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-12 col-xl-5 collapse border-left p-0" id="collapseBackstage">
        <div class="overflow-auto backstage-container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary backstageNavBar">
                <div class="navbar-brand">See Personalizer in Action</div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline py-3">
                            <div class="mr-2">
                                <label for="referrer">Referrer</label>
                                <select class="custom-select my-1" id="referrer">
                                    <option value="social" selected>Social</option>
                                    <option value="direct">Direct</option>
                                    <option value="email">Email</option>
                                    <option value="search">Search</option>
                                </select>
                            </div>
                            <div class="mr-2">
                                <label for="currentTournament">Ongoing Tournament</label>
                                <select class="custom-select my-1" id="currentTournament">
                                    <option value="wimbledon" selected>Wimbledon</option>
                                    <option value="mutuaMadridOpen">Mutua Madrid Open</option>
                                    <option value="australiaOpen">Australia Open</option>
                                </select>
                            </div>
                            <div class="mr-2">
                                <label for="device">Device</label>
                                <select class="custom-select my-1" id="device">
                                    <option value="mobile" selected>Mobile</option>
                                    <option value="desktop">Desktop</option>
                                    <option value="tablet">Tablet</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary mt-lg-4" id="go-btn">
                                    @siteConfig.RefreshButtonText
                                </button>
                            </div>
                        </form>

                        <div class="card">
                            <div class="card-body p-0 pt-0">
                                <h5 class="card-title ml-2 mt-2">Request</h5>
                                <div class="card">
                                    <div class="card-header pt-1">
                                        <ul class="nav nav-tabs card-header-tabs" id="response-action-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="context-tab" data-toggle="tab" href="#context" role="tab" aria-controls="context" aria-selected="true">Context</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="actions-container-tab" data-toggle="tab" href="#actions-container" role="tab" aria-controls="actions-container" aria-selected="false">Possible actions</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body p-0 pt-1">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="context" role="tabpanel" aria-labelledby="context-tab">
                                                <div class="card">
                                                    <div class="card-body p-0">
                                                        <div class="card-title mt-2 ml-2">
                                                            <h5 class="d-inline pr-2">Context JSON</h5>
                                                            <div class="custom-control custom-checkbox d-inline-flex align-items-end">
                                                                <input type="checkbox" class="custom-control-input" id="use-useragent">
                                                                <label class="custom-control-label" for="use-useragent"><small>Use User Agent</small></label>
                                                            </div>
                                                        </div>
                                                        <pre class="pre-scrollable responseRequestContainers m-0 p-1 border-top contextjson"><code id="context-code"></code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="actions-container" role="tabpanel" aria-labelledby="actions-container-tab">
                                                <div class="row justify-content-between">
                                                    <div class="col-5 pr-0">
                                                        <div class="card">
                                                            <div class="card-header p-2">
                                                                <strong>Action list</strong>
                                                                <p class="mb-0"><small>Articles to choose from</small></p>
                                                            </div>
                                                            <div class="card-body p-0">
                                                                <div class="nav flex-column nav-pills" id="actions-tab" role="tablist" aria-orientation="vertical">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 pl-1">
                                                        <div class="card">
                                                            <div class="card-header p-2">
                                                                <strong>Action JSON</strong>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="text-analytics">
                                                                    <label class="custom-control-label" for="text-analytics"><small>Add features extracted with Text Analytics</small></label>
                                                                </div>
                                                            </div>
                                                            <div class="card-body p-0">
                                                                <div class="tab-content" id="actions-tabContent">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2 d-none" id="result-section">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <h5 class="card-title ml-2 mt-2">Response</h5>
                                <pre class="pre-scrollable responseRequestContainers border mb-3 p-1 responsejson" ><code id="result-code"></code></pre>

                                <h6 class="card-subtitle ml-2 mt-2">For this Rank call, Personalizer was</h6>
                                <div class="card-group p-3">
                                    <div id="exploring-box" class="card-flex col-md-6">
                                        <div class="card-body exploring-content" data-toggle="tooltip" data-placement="top" data-html="true" title="To discover patterns and keep up with trends, Personalizer returned a <i>rewardActionId</i> that is different than the one that the learned model predicted would get the highest reward.">

                                            <table class="table-borderless">
                                                <tr>
                                                    <td>
                                                        <div><i class="fas fa-search fa-5x" style="color:#c8c8c8;"></i></div>
                                                    </td>
                                                    <td>
                                                        <h5>Exploring</h5>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="exploiting-box" class="card-flex col-md-6">
                                        <div class="card-body exploring-content" data-toggle="tooltip" data-placement="top" data-html="true" title="Personalizer returned a <i>rewardActionId</i> that was predicted by the model as the most likely to get a high reward for this context ('Exploiting' in RL terminology).">
                                            <table class="table-borderless">
                                                <tr>
                                                    <td>
                                                        <div class="card-text text-center"><i class="fas fa-chart-line fa-5x" style="color:#c8c8c8;"></i></div>
                                                    </td>
                                                    <td>
                                                        <h5 class="card-title text-center">Using Learned Model</h5>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="row" id="alert-container"></div>
                <div class="row" id="timeleft-container"></div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <a href=@siteConfig.PersonalizerSignUpURL target="_blank">@siteConfig.PersonalizerSignUpLabel</a> to try Personalizer
                    </div>
                    <div class="col-md-12">
                        <a href=@siteConfig.PersonalizerDocumentationURL target="_blank">@siteConfig.PersonalizerDocumentationLabel</a> about Personalizer
                    </div>
                    <div class="col-md-12">
                        See Personalizer <a href=@siteConfig.PersonalizerDeveloperDocsURL target="_blank">@siteConfig.PersonalizerDeveloperDocsLabel</a>
                    </div>
                    <div class="col-md-12 pb-4">
                        Get Personalizer <a href=@siteConfig.PersonalizerCodeSamplesURL target="_blank">@siteConfig.PersonalizerCodeSampleLabel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/demo.js" asp-append-version="true"></script>
}
